/* #region - HEADER STYLES */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(var(--primary-bg-rgb), var(--header-bg-opacity));
  backdrop-filter: blur(var(--header-blur));
    -webkit-backdrop-filter: blur(var(--header-blur));
  z-index: 9999;
  padding: var(--xxs) var(--md);
  box-shadow: 0 var(--xxxs) var(--xs) rgba(var(--primary-text-rgb), 0.1);
  transition: var(--transition);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--xxxs) var(--lg);
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--sm);
}

.nav-item {
  position: relative;
  margin-left: var(--lg);
  font-family: var(--font-body);
}

.nav-link {
  color: var(--primary-text);
  text-decoration: none;
  display: block;
  transition: var(--transition);
  white-space: nowrap;
  padding: var(--xs) 0;
}

.nav-link:hover {
  color: var(--accent);
}

.with-arrow {
  display: flex;
  align-items: center;
  gap: var(--xxs);
}

.dropdown-arrow {
  display: inline-block;
  transition: var(--transition);
  margin-left: var(--xxs);
  font-size: 0.8em;
}

/* Main dropdown */
.main-menu-group {
  position: relative;
}

.main-dropdown {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  background-color: rgba(var(--primary-bg-rgb), var(--dropdown-bg-opacity));
  backdrop-filter: blur(var(--dropdown-blur));
    -webkit-backdrop-filter: blur(var(--dropdown-blur));
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
  box-shadow: 0 var(--xxxs) var(--xs) rgba(var(--primary-text-rgb), 0.25);
  z-index: 1001;
  padding: 0;
  margin-top: var(--xs);
}

.main-menu-group:hover .main-dropdown {
  visibility: visible;
  opacity: 1;
}

/* Submenu */
.submenu-group {
  position: relative;
}

.nested-dropdown {
  position: absolute;
  left: 80%;
  top: 0;
  min-width: 200px;
  background-color: rgba(var(--primary-bg-rgb), var(--dropdown-two-opacity));
  backdrop-filter: blur(var(--dropdown-blur));
    -webkit-backdrop-filter: blur(var(--dropdown-blur));
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
  box-shadow: 0 var(--xxxs) var(--xs) rgba(var(--primary-text-rgb), 0.25);
  z-index: 1002;
  padding: 0;
  margin-left: var(--xxs);
}

.nested-dropdown .dropdown-link {
  padding: var(--sm);
}

.submenu-group:hover .nested-dropdown {
  visibility: visible;
  opacity: 1;
}

.submenu-group:hover .dropdown-arrow {
  transform: rotate(180deg);
}

/* Dropdown */
.dropdown-item {
  transition: var(--transition);
  position: relative;
}

.dropdown-link {
  color: var(--primary-text);
  text-decoration: none;
  display: block;
  padding: var(--md) var(--lg);
  transition: var(--transition);
}

.dropdown-link:hover {
  color: var(--accent);
  background-color: rgba(var(--primary-text-rgb), 0.1);
}

/* Divider */
.menu-divider {
  height: 1px;
  background-color: var(--dark-red);
  margin: 0;
}

/* Discord */
.nav-discord {
  margin-left: var(--md);
}

.discord-btn {
  font-family: var(--font-body);
  font-size: var(--sm);
  text-transform: uppercase;
  padding: var(--padding-btn);
  background: var(--accent);
  color: var(--primary-bg) !important;
  transition: var(--transition);
}

.discord-btn:hover {
  background: var(--dark-red);
  transform: var(--shift-up);
}

/* Hamburger */
.hamburger-container {
  display: none;
  align-items: center;
}

.hamburger {
  transform: scale(var(--hamburger-scale));
  padding: var(--xxs);
  position: relative;
  display: none;
}

.bar {
  display: block;
  width: var(--xl);
  height: var(--xxxs);
  margin: var(--xxxs) auto;
  background-color: var(--primary-text);
  transition: var(--transition);
}
/* #endregion */
/* #region - HEADER SCROLLED */
.header.scrolled {
  background-color: rgba(var(--primary-text-rgb), var(--header-scrolled-bg-opacity));
  padding: var(--xxxs);
}

.header.scrolled .logo-full {
  display: none;
}

.header.scrolled .logo-compact {
  display: block;
}

.header.scrolled .nav-link {
  color: var(--primary-bg);
}

.header.scrolled .nav-link:hover {
  color: var(--accent);
}

.header.scrolled .discord-btn {
  padding: var(--xxxs) var(--md);
}

.header.scrolled .discord-btn .hide {
  display: none;
}

.header.scrolled .menu-divider {
  background-color: var(--primary-bg);
}

.header.scrolled .main-dropdown {
  background: rgba(var(--primary-text-rgb), var(--dropdown-bg-opacity));
}
.header.scrolled .nested-dropdown {
  background-color: rgba(var(--primary-text-rgb), var(--dropdown-two-opacity));
}

.header.scrolled .dropdown-link {
  color: var(--primary-bg);
}

.header.scrolled .dropdown-link:hover {
  color: var(--accent);
  background-color: rgba(var(--primary-bg-rgb), 0.1);
}

.header.scrolled .bar {
  background-color: var(--primary-bg);
}
/* #endregion */
/* #region - MOBILE */
@media (max-width: 900px) {
  :root {
    font-size: var(--mobile-body-text);
  }

  .nav-menu {
    font-size: calc(var(--sm) * var(--mobile-text-scale));
  }
  
  .btn, .discord-btn {
    font-size: calc(var(--sm) * var(--mobile-text-scale));
  }

  .header {
    padding: var(--sm) 0;
  }
  
  .hamburger {
    display: block;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  
  .nav-menu {
    position: fixed;
    right: -100%;
    top: var(--xxl);
    flex-direction: column;
    background-color: var(--secondary-bg);
    width: 60%;
    min-width: 300px;
    transition: var(--transition);
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 2px solid var(--accent);
    height: calc(100vh - var(--xxl));
    overflow-y: auto;
  }
  
  .nav-menu.active {
    right: 0;
  }
  
  .nav-item {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid var(--divider-color);
  }
  
  .nav-link {
    padding: var(--md);
  }

  .nav-discord {
    margin: var(--xxs);
    width: auto;
  }

  .nav-discord .discord-btn {
    padding: var(--xxs) var(--sm);
    background: var(--accent);
    color: var(--primary-bg) !important;
    border-radius: var(--xxxs);
    margin: var(--sm) auto;
    display: inline-block;
  }

  .discord-btn {
    width: 50% !important;
  }

  .submenu-group .dropdown-arrow {
    transform: rotate(90deg);
  }

  .main-menu-group,
  .submenu-group {
    display: flex;
    flex-direction: column;
  }
  
  .main-dropdown {
    position: static;
    width: 100%;
    transform: none;
    background: rgba(var(--primary-text-rgb), var(--dropdown-low-opacity));
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    opacity: 1;
    display: none !important;
  }
  
  .nested-dropdown {
    position: static;
    width: 100%;
    transform: none;
    background: rgba(var(--primary-text-rgb), var(--dropdown-low-opacity));
    box-shadow: none;
    border-top: 1px solid var(--divider-color);
    border-bottom: 1px solid var(--divider-color);
    padding: 0;
    margin: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    opacity: 1;
    display: none !important;
  }

  .main-dropdown.active,
  .nested-dropdown.active {
    display: block !important;
    height: auto;
    opacity: 1;
  }
  
  .dropdown-link {
    padding-left: var(--xxl);
  }
  
  /* Nested dropdown mobile */
  .nested-dropdown .dropdown-link {
    padding-left: var(--xxxl);
  }
  
  /* Scrolled mobile */
  .header.scrolled .nav-menu {
    background-color: var(--primary-text);
  }
  
  .header.scrolled .main-dropdown {
    background: rgba(var(--primary-bg-rgb), var(--dropdown-low-opacity));
  }
  
  .header.scrolled .nested-dropdown {
    background: rgba(var(--primary-bg-rgb), var(--dropdown-low-opacity));
    border-top: 1px solid var(--divider-scrolled-color);
    border-bottom: 1px solid var(--divider-scrolled-color);
  }
  
  .header.scrolled .nav-link,
  .header.scrolled .dropdown-link {
    color: var(--primary-bg);
  }
  
  .header.scrolled .nav-discord .discord-btn {
    background: var(--accent);
    color: var(--primary-bg) !important;
  }
}
/* #endregion */
/* #region - FOOTER STYLES */
.site-footer {
  background-color: var(--secondary-bg);
  padding: var(--xl) 0 var(--md);
  border-top: 1px solid var(--divider-color);
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
  z-index: 9998;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--xxl);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--md);
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  height: var(--xxxl);
  width: auto;
  margin: 0 auto var(--md);
  display: block;
}

.footer-tagline {
  text-align: center;
  font-size: var(--sm);
  margin-bottom: var(--md);
  color: var(--primary-text);
  line-height: 1;
}

.footer-heading {
  color: var(--primary-text);
  font-family: var(--font-heading);
  font-size: var(--md);
  margin-bottom: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  line-height: .8;
}

.footer-links li {
  margin-bottom: var(--xs);
}

.footer-links a {
  color: var(--accent);
  transition: var(--transition);
  font-style: italic;
}

.footer-links a:hover {
  color: var(--primary-text);
  font-style: normal;
}

.footer-bottom {
  text-align: center;
  margin-top: var(--xl);
  padding: var(--md);
  border-top: 1px solid var(--divider-color);
  font-size: var(--sm);
  background-color: rgba(var(--primary-text-rgb), var(--header-scrolled-bg-opacity));
  color: var(--primary-bg);
  width: 100%;
  margin-bottom: 0;
}
/* #endregion */
/* #region - MOBILE */
@media (max-width: 900px) {
  .site-footer {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: var(--xl);
    text-align: center;
  }
  
  .footer-grid, .footer-bottom {
    width: 100vw;
    margin-left: calc(-1 * var(--md));
  }
  
  .footer-content {
    padding: 0 var(--md);
  }
  .footer-links {
    margin-bottom: var(--md);
  }
  
  .social-icons {
    justify-content: center;
  }
  
  .footer-col {
    align-items: center;
    padding: 0 var(--xxl);
  }
}
/* #endregion */