/* {
    outline: 1px solid red !important;
}
*/

/* ===== MAIN VARIABLES ===== */
@font-face {
  font-family: 'Analogist';
  src: url('/fonts/Analogist-Regular.woff2') format('woff2'),
       url('/fonts/Analogist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    /* Colours */
    --primary-text: #0D0D0D;
    --primary-bg: #DDDAD6;
    --secondary-bg: #F2F2F2;
    --accent: #F23D3D;
    --dark-red: #591212;

    /* Typography */
    font-size: 18px;
    --font-body: 'Forum PS', sans-serif;
    --font-heading: 'Analogist', serif;
    --line-height: 1;
    --letter-spacing: 0.2em;

    /* Spacing */
    --xxxs: 0.2rem;
    --xxs: 0.4rem;
    --xs: 0.6rem;
    --sm: 0.8rem;
    --md: 1.2rem;
    --lg: 1.6rem;
    --xl: 2rem;
    --xxl: 2.8rem;
    --xxxl: 3.6rem;

    /* Effects */
    --shadow-default: 0 0.2rem 0.4rem var(--accent);
    --shadow-reverse: 0 -0.2rem 0.4rem var(--secondary-bg);
    --shift-up: translateY(-2px);
    --transition: all 0.3s ease;

    /* Padding */
    --padding-btn: var(--sm) var(--md);
}

html {
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ===== BODY STYLES ===== */
body {
    font-family: var(--font-body);
    color: var(--primary-text);
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    position: relative;
}

p {
    font-family: var(--font-body);
    margin-bottom: var(--lg);
}

.p-centred {
    text-align: center;
}

main { 
    flex: 1;
    margin: var(--xxxl);
}

.logo {
    width: 320px;
}

/* ===== TYPOGRAPHY ===== */
h1, h2, h3, h4, h5 {
    font-family: var(--font-heading);
    margin: var(--xs) 0;
    line-height: 1.2;
}

h1 { font-size: var(--xxxl); 
    text-align: center; 
    text-transform: uppercase;
}
h2 { font-size: var(--xxl);}
h3 { font-size: var(--xl);}
h4 { font-size: var(--lg);}
h5 { font-size: var(--md); 
    text-align: center; 
    color: var(--accent);
    text-transform: uppercase;
    letter-spacing: var(--xxs);
    margin-bottom: 0;
    margin-top: var(--xxl);
    font-weight: normal;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a .card {
    color: var(--primary-bg)
}

/* ===== BASE RESETS ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== SECTIONS ===== */
.section {
    width: 100%;
    padding: var(--xxxl) 0;
    position: relative;
}

.section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--xl);
    z-index: 1;
}

.section-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--md);
    position: relative;
    z-index: 2;
}

.section-1 { 
    background: var(--primary-bg); 
    color: var(--primary-text);
}

.section-1::after {
    background: var(--primary-bg);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.section-2 { 
    background: var(--primary-text); 
    color: var(--secondary-bg);
}

.section-2::after {
    background: var(--primary-text);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.section-3 { 
    background: var(--dark-red); 
    color: var(--secondary-bg) !important;
}

.section-3::after {
    background: var(--dark-red);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

/* ===== CONTENT STYLES ===== */
.container {
    margin: 0;
    width: 100%;
}

.centred {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-flex;
    padding: var(--padding-btn);
    background-color: var(--accent);
    color: var(--primary-bg) !important;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--transition);
    align-items: center;
    gap: var(--sm);
    text-transform: uppercase;
    font-size: var(--sm);
    justify-content: center;
    text-align: center;
    width: 100%;
}

.btn:hover {
    background-color: var(--dark-red) !important;
    transform: var(--shift-up)
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--md);
}

.card:hover {
    background-color: var(--primary-text);
}

.card-img-container {
    position: relative;
    aspect-ratio: 5/8; 
    overflow: hidden;
    padding-bottom: var(--md);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img:hover {
    transform: var(--shift-up);
    box-shadow: var(--shadow-default);
}

.card .btn {
    margin-top: auto;
    width: 50%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--xxxl) var(--md);
    margin: var(--md) 0;
    align-items: stretch;
}

/* ===== MOBILE STYLES (900px and below) ===== */
@media (max-width: 900px) {
    :root {
        font-size: 30px;
    }

    body {
        width: 100%;
    }
    
    main {
        margin: var(--xxl) var(--sm); 
    }

    .logo {
        width: 400px;
    }
    
    /* Typography */
    h1 { font-size: var(--xxxl); }
    h2 { font-size: var(--xxl); }
    h3 { font-size: var(--xl); }
    h4 { font-size: var(--lg); }
    
    /* Sections */
    .section {
        padding: var(--xl);
    }
    
    .section-1, .section-2, .section-3 {
        padding-bottom: calc(var(--xxl) + var(--lg)) !important;
    }
    
    .section-1, .section-2, .section-3 {
        margin-top: calc(-1 * var(--lg));
        padding-top: calc(var(--xxl) + var(--lg)) !important;
    }
    
    .section::after {
        height: var(--lg); 
    }
    
    .section-content {
        width: 90%;
        padding: 0 var(--sm); 
    }
    
    /* Components */
    .card {
        padding: var(--sm);
    }
    
    .card .btn {
        width: 100%;
        height: var(--xxl)
    }
    
    .grid {
        grid-template-columns: 1fr;
        gap: var(--xl);
    }
    
    .centred {
        flex-wrap: wrap; 
    }
}